<dialog class="username-dialog" #usernameDialog>
  <div class="title">
    Transfer Tracker
  </div>
  <div class="version">
    {{version}}
  </div>
  <div class="contact-me">
    <a href="mailto:michael.trenkler1@protonmail.com">
      Contact Me
    </a>
  </div>
   <div class="buttons">
     <button class="dialog-button" type="button" (mouseup)="usernameDialog.close()">Close</button>
   </div>
</dialog>

<div [title]="version">
  <img class="user-icon" src="assets/info.svg" alt="user" (mouseup)="usernameDialog.showModal()">
</div>

