.performance-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;

  font-size: 21px;
  box-shadow: 0 3px 8px 0 rgba(59, 96, 143, 1);

  background: #3b608f;
  color: #ffffff;

  border-radius: 10px;
  padding: 20px;
}
