<div class="performance-container" [ngClass]="{'not-passing': !isPassing}">
  <div>
    @if (isOnlyOneCycle) {
      Calls Taken: {{totalCallsTaken ?? 'Unknown'}}
    } @else {
      Total Calls Taken: {{totalCallsTaken ?? 'Unknown'}}
    }
  </div>
  <div>
    @if (isOnlyOneCycle) {
      Transferred: {{totalCallsXfer ?? 'Unknown'}}
    } @else {
      Total Transferred: {{totalCallsXfer ?? 'Unknown'}}
    }
  </div>
  <div>
    @if (isOnlyOneCycle) {
      Transfer Rate: {{overallXferPercent ?? 'Unknown'}}%
    } @else {
      Overall Transfer Rate: {{overallXferPercent ?? 'Unknown'}}%
    }
  </div>
  <div class="icon" [ngClass]="{'not-passing': !isPassing}">
    @if (isPassing) {
      <img class="is-passing-icon" src="assets/star.svg" width="60" alt="is passing"/>
    } @else {
      <img src="assets/not_passing.svg" width="60" height="60" alt="not passing"/>
    }
  </div>
</div>

