<div class="form-card">
  <form class="form" [formGroup]="xferDataForm">
    <label for="calls-taken">
      <span>
        How many <b>calls</b> have you taken today?
      </span>
    </label>
    <div class="input-cluster">
      <input id="calls-taken" type="number" min="0" (input)="onValueChangedFor('callsTaken')" formControlName="callsTaken" value="{{initialEntry.callsTaken}}" >
      <button class="plus-one" (mouseup)="addOneTo('callsTaken')">
        <img src="assets/plus_one.svg" alt="plus one">
      </button>
    </div>

    <label for="calls-xfer">
      <span>
        How many of which have you <b>transferred</b>?
      </span>
    </label>
    <div class="input-cluster">
      <input id="calls-xfer" type="number" min="0" (input)="onValueChangedFor('callsXfer')" formControlName="callsXfer" [valueAsNumber]="initialEntry.callsXfer">
      <button class="plus-one" (mouseup)="addOneTo('callsXfer')">
        <img src="assets/plus_one.svg" alt="plus one">
      </button>
    </div>
  </form>
</div>
