.today-container {
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 100px;
}

//.input {
//  align-self: center;
//}

.result {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 20px;
}

//xfer2-xfer-data-entry {
//  width: 70%;
//}
//
//xfer2-xfer-data-entry-form {
//  width: 70%;
//
//}
//
//xfer2-data-entry-feedback {
//  width: 70%;
//
//}


