.history-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex-wrap: nowrap;
}

.cycles {
  display: grid;
  grid-template-columns: 1fr minmax(450px, 3fr) 1fr;
  grid-template-rows: auto;
}

.cycle-card {
  grid-column: 2;
  padding: 20px;
}

.performance {
  align-self: center;
  padding: 8px;
  width: 30%;
  min-width: 350px;
}

.empty {
  grid-column: 2;
  text-align: center;
}
